<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css" />

<div class="content-wrapper">

<!-- Main content -->
<!-- Primera fila -->
<div *ngIf="user_role_id == 2;">
  <div class="row g-5 g-xl-10 mb-x1-10">
    <!-- Grafica 1 -->
    <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Cursos activos por Categoria</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">

            <canvas id="coursesPerCategoryChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Grafica 2 -->
    <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Usuarios registrados a travez del año</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
            <canvas id="usersByDateChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Segunda fila-->
  <div class="row gy-5 g-xl-10">
    <!-- Grafica 3 -->
    <div class="col-xl-8 mb-5 mb-xl-10">
      <div class="card card-flush h-xl-100">
        <div class="box-header with-border">
          <div class="card-header pt-7">
            <h3 class="card-title align-items-start flex-column">Cursos por Semestre</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
            <canvas id="coursesByLevelPieChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 mb-xl-10">
      <!-- Primer bloque -->
      <div class="card card-flush h-xl-32 mb-2">
        <div class="card-header pt-5">
          <!--Titulo-->
          <div class="card-title d-flex flex-column"> 
            <div class="d-flex align-items-center">
              <span class="fs-2hx fw-bolder text-dark me-2 lh-1 ls-n2">{{ totalSalesCount?.toString() }} Inscripciones</span>
            </div>
            <span class="text-gray-400 pt-1 fw-bold fs-6">En total de los cursos</span>
          </div>
        </div>
          <div class="card-body d-flex align-items-end pt-0">
            <div class="d-flex align-items-center flex-column mt-3 w-100">
              <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                <span class="fw-boldest fs-6 text-dark">Nuestra meta: 138</span>
                <span class="fw-bolder fs-6 text-gray-400">{{ percentaje?.toString() }} %</span>
              </div>                     
            </div>
          </div>
      </div>

      <!-- Segundo bloque -->
      <div class="card card-flush h-xl-32 mb-2">
        <div class="card-header pt-5">
          <!--Titulo-->
          <div class="card-title d-flex flex-column"> 
            <div class="d-flex align-items-center">
              <span class="fs-2hx fw-bolder text-dark me-2 lh-1 ls-n2">{{ totalClassCount?.toString() }} Videos</span>
            </div>
            <span class="text-gray-400 pt-1 fw-bold fs-6">Subidos en la plataforma</span>
          </div>
        </div>
          <div class="card-body d-flex align-items-end pt-0">
            <div class="d-flex align-items-center flex-column mt-3 w-100">
              <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                <span class="fw-boldest fs-6 text-dark">Videos en Educativos en Youtube</span>
              </div>                     
            </div>
          </div>
      </div>

      <!-- Tercer bloque -->
      <div class="card card-flush h-xl-32 mb-2">
        <div class="card-header pt-5">
          <!--Titulo-->
          <div class="card-title d-flex flex-column"> 
            <div class="d-flex align-items-center" *ngFor="let categoryName of categoryNames">
              <span class="fs-2hx fw-bolder text-dark me-2 lh-1 ls-n2 ">
                {{ categoryName }}
              </span>
            </div>
            <span class="text-gray-400 pt-1 fw-bold fs-6">Es la categoria menos popular</span>
          </div>
        </div>
          <div class="card-body d-flex align-items-end pt-0">
            <div class="d-flex align-items-center flex-column mt-3 w-100">
              <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                <span class="fw-boldest fs-6 text-dark">Por cursos y estudiantes</span>
              </div>                     
            </div>
          </div>
      </div>

      <!-- Cuarto bloque -->
      <div class="card card-flush h-xl-32 mb-2">
        <div class="card-header pt-5">
          <!--Titulo-->
          <div class="card-title d-flex flex-column"> 
            <div class="d-flex align-items-center" *ngFor="let categoryName of categoryNamesM">
              <span class="fs-2hx fw-bolder text-dark me-2 lh-1 ls-n2 ">
                {{ categoryName }}
              </span>
            </div>
            <span class="text-gray-400 pt-1 fw-bold fs-6">Es la categoria más popular</span>
          </div>
        </div>
          <div class="card-body d-flex align-items-end pt-0">
            <div class="d-flex align-items-center flex-column mt-3 w-100">
              <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                <span class="fw-boldest fs-6 text-dark">En base a los datos recopilados</span>
              </div>                     
            </div>
          </div>
      </div>


    </div>  
  </div>

  <!--Tercera fila-->
  <div class="row g-5 g-xl-10 mb-x1-10">
    <!-- Grafica 4 -->
    <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Estudiantes registrados por categoría</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">

            <canvas id="studentsPerCourseChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Grafica 5 -->
    <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Clases registradas por categoría</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
            <canvas id="totalClasesChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- UserDashboard -->
<div *ngIf="user_role_id == 1;">
  <div class="row g-5 g-xl-10 mb-x1-10">
    <!-- grafica 1 User -->
    <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Cursos activos por Categoria</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">

            <canvas id="coursesPerCategoryChart"></canvas>
          </div>
        </div>
      </div>
    </div> 

    <!-- Grafica 2 -->
    <div class="col-lg-11 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Usuarios registrados en tus cursos</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
            <canvas id="usersByDateChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="row g-5 g-xl-10 mb-x1-10">
    <!-- Grafica 3 -->
    <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-7">
            <h3 class="card-title align-items-start flex-column">Cursos por Semestre</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
            <canvas id="coursesByLevelPieChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!--Grafica 4-->
    <div class="col-lg-11 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
      <div class="card card-flush h-md-150 mb-5 mb-xl-10">
        <div class="box-header with-border">
          <div class="card-header pt-5">
            <h3 class="card-title d-flex flex-column d-flex align-items-center">Tu actividad</h3>
          </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
          <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
            <canvas id="tuActividad"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
